.site-header {
  padding-top: 35px;
}

.site-header__open-menu {
  display: none;
}

.container {
  max-width: 1210px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.hamburgaer-menu {
  display: none;
}

.site-header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.top-navmenu {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.top-navmenu__item {
  margin-right: 50px;
}

.top-navmenu__item:last-child {
  margin-right: 0;
}

.top-navmenu__link {
  text-decoration: none;
  color: #48494D;
  font-weight: bold;
  line-height: 23px;
  font-size: 20px;
}

.site-header__logo {
  display: block;
}

.site-header__address {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #48494D;
  margin-right: 35px;
  display: flex;
}

.site-header__address::before {
  width: 27px;
  height: 27px;
  display: inline-block;
  background-image: url("../../../img/Polygon.png");
  margin-right: 8px;
  content: "";
}

.site-header__user-conciseness {
  display: flex;
}

.site-header__user-purchase {
  display: flex;
}

.site-header__user-conciseness-link {
  position: relative;
  display: inline-block;
  margin-right: 16px;
}

.site-header__user-conciseness-link:last-child {
  margin-right: 0;
}

.shopping {
  top: 20%;
  left: 60%;
  position: absolute;
  width: 23px;
  height: 23px;
  color: #fff;
  background-color: #FF7931;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  z-index: 10;
  font-weight: bold;
}

/* SITE HEADER BOTTOM */

.site-header__bottom {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.site-header__bottom-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.site-header_bottom-link {
  display: inline-block;
  text-decoration: none;
  color: #48494D;
  font-size: 20px;
  line-height: 23px;
  text-transform: capitalize;
  padding-top: 15px;
  padding-bottom: 15px;
  transition: box-shadow 0.2s ease;
}

.header-bootom-link-active {
  box-shadow: 0 2px 0 0 #FF7931;
  font-weight: bold;
}

.site-header_bottom-link:hover {
  box-shadow: 0 2px 0 0 #FF7931;
}

.navbar-overflow {
  display: none;
}

@media only screen and (max-width: 1200px) {
  .top-navmenu__link {
    font-size: 18px;
  }

  .site-header__address {
    font-size: 18px;
  }

  .site-header_bottom-link {
    font-size: 18px;
  }

  .top-navmenu__item {
    margin-right: 20px;
  }
}

@media only screen and (max-width: 1020px) {

  .site-header__address {
    font-size: 16px;
  }
}

@media only screen and (max-width: 970px) {

  .site-header__open-menu {
    display: inline-block;
    min-width: 245px;
  }

  .site-header__closed-menu {
    display: none;
  }

  .site-header__open-wrapper {
    max-width: auto;
  }

  .site-header__bottom-border {
    border: none;
  }

  .site-header__wrapper {
    display: flex;
  }

  .site-header-open-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .site-header__open-item {
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    transform: matrix(1, 0, -0.01, 1, 0, 0);
  }

  .site-header__open-item:last-child {
    border: none;
  }

  .site-header__open-item::before {
    content: "";
    display: inline-block;
    margin-right: 15px;
    background-size: contain;
  }

  .open-menu-first-img::before {
    background-image: url("../../../img/menu-first-img.svg");
    width: 16px;
    height: 17px;
    
  }

  .open-menu-second-img::before {
    background-image: url("../../../img/menu-first-img.svg");
    width: 16px;
    height: 17px;
  }

  .open-menu-third-img::before {
    background-image: url("../../../img/menu-third-img.svg");
    width: 19px;
    height: 17px;
  }

  .open-menu-fourth-img::before {
    background-image: url("../../../img/menu-fourth-img.svg");
    width: 15px;
    height: 17px;
  }

  .open-menu-fifth-img::before {
    background-image: url("../../../img/menu-fifth-img.svg");
    width: 16px;
    height: 17px;
  }

  .open-menu-olti-img::before {
    background-image: url("../../../img/olti.svg");
    width: 18px;
    height: 17px;
  }

  .open-menu-margin {
    padding-left: 57px;
  }

  .site-header__open-link {
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
  }

  .menu-wrapper {
    width: 136px;
  }

  .hamburgaer-menu {
    display: inline-block;
    background-image: url("../../../img/hamburger.png");
    background-repeat: no-repeat;
    width: 33px;
    height: 30px;
    border: none;
  }

  .container {
    overflow: hidden;
  }

  .header__container {
    display: flex;
    position: relative;
  }

  .top-navmenu {
    display: none;
  }

  .site-header__address {
    display: none;
  }

  .site-header__bottom-list {
    flex-wrap: nowrap;
    overflow: hidden;
  }

  .site-header__bottom-item {
    margin-right: 15px;
  }

  .site-header_bottom-link {
    white-space: nowrap;
  }

  .navbar-overflow {
    content: "";
    background: linear-gradient( to right, transparent, #fff);

    width: 180px;
    height: 60px;
    display: inline-block;
    position: absolute;
    right: -1% ;
    top: -4px;
    z-index: 10;
  }

  .site-header__user-conciseness-link {
    margin-right: 30px;
  }

  /* 136 */
}